:root {
    --light-text-color: rgba(0,0,0,0.5);
    --white-text-color: #FFFFFF;
    --hover-link-color: rgba(28, 94, 33, 0.8);
    --main-black-color: #333333;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    font-size: 62.5%;
    font-family: 'Raleway', sans-serif;
    min-height: 100vh;
}


/*Nav*/

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.navbar-1 {
    background-color: white;
    padding: 0;

}

.nav-header {
    background-color: #FFFFFF !important;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 40px 40px -2px;
}

.nav-container {
    padding: 0;
}

.nav-additionals {
    margin-right: 1rem;
}

svg {
    cursor: pointer;
}

/*nav-hover*/

.nav-hover {
    text-transform: uppercase;
    color: var(--main-black-color);
    font-weight: bold;
    position: relative;
    font-size: 1rem;
    margin-right: 1.5rem;
}

.nav-hover:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: -10px;
    left: 0px;
    transform: scaleX(0);
    background: var(--hover-link-color);
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.nav-hover:hover:after,
.nav-hover:focus:after {
    transform: scaleX(1);
    transform-origin: bottom;
    cursor: pointer;
}
/*nav-hover*/

.center-text-nav {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    opacity: 60%;
}


.logo {
    width: 125px;
    height: 46.5px;
    cursor: pointer;
}

.nav-link {
    font-size: 0.9rem;
    color: var(--main-black-color);
    opacity: 60%;
    margin-top: 0.5rem;
    text-decoration: none;
}

.bi {
    width: 14px;
    height: 14px;
    margin-right: 1rem;
}
/*Nav*/


/*Toggle*/
.nav-container .hamburger-lines {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 3px;
    height: 12px;
    width: 16px;
    position: absolute;
    cursor: pointer;
}

.nav-container .hamburger-lines .line {
    display: block;
    height: 2px;
    width: 100%;
    border-radius: 10px;
    background: black;
}

.hamburger-menu {
    box-sizing: border-box;
    position: relative;
    text-align: center;
    margin-bottom: 1rem;
}

.sub {
    position: absolute;
    width: 130px;
    right: -20px;
    color: black;
    text-align: right;
    font-style: italic;
    height: calc(100vh-7rem);
    overflow: hidden;
    opacity: 0;
    transition: max-height 0s 1.5s,
        opacity .5s,
        transform .5s;
    pointer-events: none;
    padding-top: 48px;
}

.sub-inner {
    background: #FFF;
    padding: 30px 0px 15px 0px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 1rem;
}

.sub > .sub-inner > ul > li > a {
    font-size: 0.8rem;
}

.sub>* {
    pointer-events: none;
}

.item:not(:last-child) {
    padding: 1px 10px 5px;
}

.item:last-child {
    padding: 0px 10px 10px 10px;
}

/*Toggle*/

.image-hero {
    margin-top: 1.5rem;
}

/*Arrow*/

.arrow-down {
    width: 220px;
    height: 40px;
    padding: 1rem;
}


/*Arrow*/


/*First-heading*/
h1 {
    font-weight: 200;
    color: var(--light-text-color);
    font-size: 2.5rem;
}

.text {
    font-size: 1rem;
}

.text-center {
    padding: 3rem;
}
/*First-heading*/

/*Hero-image*/
.content-image-hero {
    width: 100%;
    display: block;
    height: 35rem;
    text-align: center;
}

.hero {
    margin-top: 8rem;
}
/*Hero-image*/

/*Gallery*/

.bg {
    object-fit: cover;
    width: 100%;
    display: block;
}

.content-image {
    width: 100%;
    display: block;
    height: 40rem;
    text-align: center;
}

.row-image {
    display: block;
    height: 40rem;
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 0;
}

.row > div {
    padding: 4px 4px;
}

.fluid-image {
    height: 40rem;
}

.top-text {
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.75rem
}

.big-image {
    margin-top: 8.5rem;
    height: 25rem;
}
/*Gallery*/


/* Hover-image */
.image-hover {
    position: relative;
}

.image {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.center-text-overlay {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.image-hover:hover .center-text-overlay,
.image-hover:focus .center-text-overlay {
    opacity: 1;
    cursor: pointer;
}

.city {
    text-transform: uppercase;
    color: var(--white-text-color);
    font-weight: bold;
    font-size: 0.75rem;
    opacity: 90%;
}

.center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.7rem;
    color: var(--white-text-color);
}

.light {
    text-transform: uppercase;
    opacity: 50%;
    font-size: 0.75rem;
    color: var(--white-text-color);
}

.text-hover {
    color: var(--white-text-color);
    font-size: 1rem;
    opacity: 80%;
}

h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.95rem;
}

.hover-1 {
    width: 40px;
    height: 23.05px;
    margin-top: 1rem
}

.content {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.content .content-overlay {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: all 0.4s ease-in-out 0s
}

.content:hover .content-overlay,
.content:focus .content-overlay {
    opacity: 1;
    cursor: pointer;
}


.content-image-big {
    width: 100%;
    display: block;
    height: 35rem;
    text-align: center;
}

.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details,
.content:focus .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
    cursor: pointer;
}

#disappear {
    display: block;
    transition: all 0.3s ease-in-out 0s;
}

#content:hover+#disappear,
#content:focus+#disappear {
    display: none;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
}
/* Hover-image */


/* Footer */
.footer-links {
    margin: 0.5rem 0rem 2rem 0rem;
    opacity: 50%;
}

.decorating-line {
    width: 100%;
    height: 100%;
}

.timeline-nav {
    padding-bottom: 0.5rem;
}

.decorative-line-container {
    margin-top: 0.5rem;
}
/* Footer */


/*common*/
img {
    max-height: 100%;
}

a {
    text-decoration-line: underline;
    color: black;
    font-size: 0.7rem;
}

a:hover,
a:focus {
    color: rgba(0,0,0,0.3);
    cursor: pointer;
}

.no-underline {
    margin: 0rem 0.6rem 0rem 0.8rem;
    text-decoration: none;
}

.underline {
    margin: 0rem 1rem 0rem 1rem;
    font-size: 0.7rem;
}

p {
    color: rgba(0,0,0,0.6);
}

ul {
    list-style: none;
}

li, a {
    text-decoration: none;
}
/*common*/


/*size*/
@media (max-width: 490px) {

    .no-underline,
    .underline {
        font-size: 0.55rem;
        margin: 0rem 0.3rem 0rem 0.3rem
    }

    .sub-inner > a {
        display: flex;
        justify-content: start;
        text-align: left;
        align-items: start;
    }


}

@media(min-width:768px) {

    .hamburger-menu:hover .sub,
    .hamburger-menu:focus .sub,
    .hamburger-menu:hover .sub>*,
    .hamburger-menu:focus .sub>*
    .sub:hover
    .sub:focus {
        opacity: 1;
        transition-delay: 0s;
        transform: translateY(0px);
        pointer-events: all;
    }
}

@media (max-width: 768px) {

    .navbar-1 {
        display: flex;
        justify-content: start!important;
        padding-left: 1rem;
    }

    .nav-header {
        box-shadow: none;
    }
    .sub-inner {
        align-items: center;
        text-align: center;
        padding-left: 30px;
        box-shadow: none;
    }
    .hamburger-menu {
        position: static;
    }

    .show {
            opacity: 1;
            transition-delay: 0s;
            transform: translateY(0px);
            pointer-events: all;
            z-index: 99;
    }

    .hide {
        overflow: hidden;
    }

    .line1--active {
        position: relative;
        top: 40%;
        transform: rotate(50deg);
    }

    .line2--active {
        opacity: 0;
    }

    .line3--active {
        position: relative;
        bottom: 45%;
        transform: rotate(-50deg);
    }

    .sub {
        padding: 20px 20px 20px 20px;
        width: 110vw;
        height: 100vh;
        z-index: -1;
        background-color: white;
    }

    .sub>* {
        pointer-events: all;
    }

    .item:not(:last-child) {
        padding: 1px 10px 20px 5px;
    }
}


/*size*/







