/* .timeline {
    display: none;
    margin: 0 auto;
}

.list {
    position: relative;
    margin: 0 auto;
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(1, 750px);
    align-items: center;
    justify-content: center;
}

.slider-item {
    grid-area: 1/1/2/2;
    padding: 30px 0;
    display: flex;
    align-items: center;
    opacity: 0;
    transition: opacity 0.7s ease-in-out;
    z-index: -10;
}

.item--active {
    opacity: 1;
    z-index: 1;
}

.image-item {
    margin-right: 30px;
    flex: 0 0 150px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} */


/* .image-1 {
    background-image: url(/images/timeline/1.webp);
}

.image-2 {
    background-image: url(/images/timeline/2.webp);
}

.image-3 {
    background-image: url(/images/timeline/3.webp);
}

.image-4 {
    background-image: url(/images/timeline/4.webp);
}

.image-5 {
    background-image: url(/images/timeline/5.webp);
}

.image-6 {
    background-image: url(/images/timeline/6.webp);
}

.image-7 {
    background-image: url(/images/timeline/7.webp);
}

.image-8 {
    background-image: url(/images/timeline/8.webp);
}

.image-9 {
    background-image: url(/images/timeline/9.webp);
}

.image-10 {
    background-image: url(/images/timeline/10.webp);
}

.image-11 {
    background-image: url(/images/timeline/11.webp);
} */

/* .date {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
}

.title {
    margin: 0;
    margin-bottom: 10px;
    line-height: 1.7;
    font-size: 21px;
    font-family: Raleway-Bold, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.desc {
    margin: 0;
    line-height: 1.3;
    font-size: 16px;
}

.btns {
    margin-top: 10px;
    position: relative;
    width: 90%;
    max-width: 1115px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btns::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    content: "";
    display: block;
    border: 1px solid #ccc;
    z-index: 0;
}

.btn {
    position: absolute;
    padding: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: 0.3s;
    appearance: none;
    z-index: 1;
} */

/* .btn--active,
.btn:hover,
.btn:focus
    {
    background-color: #333;
} */

/* .btn:nth-of-type(1) {
    left: 0;
}

.btn:nth-of-type(2) {
    left: 3%;
}

.btn:nth-of-type(3) {
    left: 23%;
}

.btn:nth-of-type(4) {
    left: 45%;
}

.btn:nth-of-type(5) {
    left: 56%;
}

.btn:nth-of-type(6) {
    left: 63%;
}

.btn:nth-of-type(7) {
    left: 68%;
}

.btn:nth-of-type(8) {
    left: 91%;
}

.btn:nth-of-type(9) {
    left: 94%;
}

.btn:nth-of-type(10) {
    left: 96%;
}

.btn:nth-of-type(11) {
    left: 100%;
} */

/* @media only screen and (min-width: 782px) {
    .timeline {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (min-width: 1280px) {
    .list {
        grid-template-columns: repeat(1, 850px);
    }
} */